*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: aquamarine !important;
}
.error{
  border: 2px solid red;
  /* border-color: red; */
}

.colorDiv{
  width: 15rem;
  height: 8rem;
  cursor: pointer;
}

.alert{
  color: blue;
}